.schedule {
  padding: 20px;
  padding-top: 80px; /* to account for fixed header */
  text-align: center;
  background-color: #fff;
  width: 100%;
}

.schedule-title {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.schedule-title h1 {
  font-size: 3rem;
  margin: 0;
}

.calendar-container {
  display: flex;
  justify-content: center;
}

.calendar-iframe {
  width: 100%;
  height: 80vh; /* Use viewport height for responsive height */
  border: none; /* Use CSS to remove the border */
  overflow: hidden; /* Hide the scrollbars */
}
